:root {
  --nav-trans: 0.3s;
}

.nav-container {
  position: fixed;
  display: grid;
  height: 100vh;
  width: 100vw;
  opacity: 0.7;
  grid-template-rows: auto 1fr;
  pointer-events: none;
  z-index: 1000;
}

.sides-container {
  position: relative;
}

.sides-container * {
  pointer-events: auto;
}

nav {
  grid-area: 1 / 1/ span 1 / -1;
  background: red;
  text-align: center;
  pointer-events: auto;
  transition: all var(--nav-trans);
}

.nav-container.on-title nav {
  transform: translateY(-100px);
}
.nav-container.on-title .menu-link {
  transform: translateY(100px);
}

.side-nav {
  transform: translateX(-110%);
  border: 1px solid black;
  min-width: 200px;
  /* 15% is to match the width of the sidebar on the other side */
  width: 15%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all var(--nav-trans);
}

.side-nav div:first-child {
  flex: 1;
}

.side-nav.open {
  transform: translateX(0);
}

.menu-option {
  padding: 1em;
}

h1 {
  margin: 0;
  padding: 20px;
}
