:root {
  --section-top-margin: 75px;
}

.how-it-works {
  min-height: calc(100vh - var(--section-top-margin));
  display: grid;
  grid-template-rows: 30% 1fr 10%;
  place-items: center;
  margin-top: var(--section-top-margin);
}

.card-container {
  grid-template-columns: repeat(4, 1fr);
}

.how-it-works > div {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.how-it-works h2 {
  font-size: 3em;
}

.how-it-works > div:last-child {
  width: 50%;
  margin-bottom: 50px;
}
