.welcome-form-area {
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: 100vh;
}

.form-area {
  display: grid;
  grid-template-rows: auto 1fr;
}

.switcher-container {
  display: grid;
  place-items: center;
}
